* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-image: url(image/099892d5-4d4e-4074-9d20-2fb409defbff.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.allkeys {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

button {
    text-decoration: none;
    display: inline-block;
    margin: 30px 30px;
    padding: 30px 40px;
    position: relative;
    border: 2px solid #f1c40f;
    color: #272002;
    transition: .4s;
    font-size: 24px;
}

.sound {
    border-color: #f1c40f;
    box-shadow: 0 0 30px #f1c40f;
    transition: .4s;
}